<template>
  <div class="columns is-centered padding-top-4" id="auth">
    <div class="column is-12-mobile is-7-tablet is-5-desktop is-4-widescreen">

      <div class="container margin-bottom-2" v-if="submitStatus.message || submitStatus.progress">
        <!-- Una barra de progreso simple -->
        <progress v-if="submitStatus.progress" class="progress is-primary" max="100"></progress>

        <!-- Mensajes del servidor  -->
        <div v-else class="notification" :class="submitStatus.background">
          <button class="delete" @click="onSubmitStatusChanged()"></button>
          <span>{{ submitStatus.message }}</span>
        </div>
      </div>

      <div class="card">
        <div class="tabs is-boxed is-centered padding-top-1">
          <ul>
            <li v-for="tab in tabs" v-bind:key="tab.form" :class="isActiveTab(tab.form)">
              <a href="#" @click.prevent="activeTab = tab.form">{{ tab.display }}</a>
            </li>
          </ul>
        </div>

        <div class="card-content">
          <div class="content">
            <form role="auth" @submit.prevent="onSubmitForm" id="form-auth">
              <!-- Nombre de la persona solo para el registro -->
              <fieldset class="field" v-if="activeTab === 'register'">
                <label for="#" class="label">Nombres</label>
                <input type="text" class="input" placeholder="Nombre y apellido" required="true"
                  v-model="form.nombre" :class="hasErrorClass('nombre')">
                 <!-- validation status -->
                <code v-if="hasError('nombre')" class="help has-text-danger">
                  {{ hasError('nombre').message }}
                </code>
              </fieldset>

              <!-- Identidad y contraseña, disponible en ambos casos -->
              <fieldset class="field">
                <label for="#" class="label">Identidad</label>
                <input type="text" class="input" placeholder="Nombre de usuario o identidad" minlength="6" required="true"
                  v-model="form.identidad" :class="hasErrorClass('identidad')">
                <!-- validation status -->
                <code v-if="hasError('identidad')" class="help has-text-danger">
                  {{ hasError('identidad').message }}
                </code>
              </fieldset>

              <fieldset class="field">
                <label for="#" class="label">Contraseña</label>
                <input type="password" class="input" placeholder="Tu contraseña segura" minlength="6" required="true"
                  v-model="form.password" :class="hasErrorClass('password')" >
                <!-- validation status -->
                <code v-if="hasError('password')" class="help has-text-danger">
                  {{ hasError('password').message }}
                </code>
              </fieldset>
            </form>
          </div>
        </div>

        <div class="card-footer is-right">
          <div class="card-footer-item justify-content-end">
            <button class="button is-primary is-fullwidth" type="submit" form="form-auth">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { post } from 'axios'

export default {
  name: 'auth-component',
  data () {
    return {
      activeTab: 'login',
      tabs: [{
        form: 'login',
        display: 'Acceso'
      }, {
        form: 'register',
        display: 'Registro'
      }],
      submitStatus: {
        message: '',
        background: '',
        progress: false
      },
      form: {
        nombre: '',
        identidad: '',
        password: ''
      },
      formErrors: []
    }
  },
  methods: {
    onSubmitForm () {
      const { identidad, password, nombre } = this.form
      this.submitStatus.progress = true
      this.formErrors = []

      post(`auth/${this.activeTab}`, { identidad, password, nombre }).then(response => {
        if (response.data.passed) {
          this.onSubmitStatusChanged(response.data.message, 'is-sucess')
          // User is authenticated!
          const { user, token } = response.data
          this.$router.push('facturas')
          this.$store.commit('authenticated', { user, token })
        } else {
          this.onSubmitStatusChanged(response.data.message, 'is-danger')
        }
      }).catch(error => {
        if (error.response && error.response.status === 422) {
          // Atrapando errores de validación.
          this.formErrors = error.response.data.errors
          this.onSubmitStatusChanged('Resuelve el formulario antes de continuar.', '')
        } else {
          this.onSubmitStatusChanged('Parece que algo ha salido mal :c', 'is-warning')

          if (process.env.NODE_ENV === 'development') {
            console.error(error)
          }
        }
      }).then(() => {
        // Stop the progress bar
        this.submitStatus.progress = false
      })
    },

    onSubmitStatusChanged (message = '', background = 'is-info') {
      this.submitStatus = { message, background }
    },

    hasError (attribute) {
      return this.formErrors.filter(response => {
        return response.attr === attribute
      })[0]
    },

    hasErrorClass (attribute, className = 'is-danger') {
      return this.hasError(attribute) ? className : ''
    },

    isActiveTab (page, className = 'is-active') {
      return this.activeTab === page ? className : ''
    }
  }
}
</script>
