<template>
  <div class="tabs is-boxed">
    <ul>
      <li v-for="route in routes" v-bind:key="route.name"
        @click="activeRoute = route.to"
        :class="activeRoute === route.to ? 'is-active': ''">
        <router-link :to="route.to">{{ route.name }}</router-link>
      </li>

      <li class="margin-left-auto padding-left-1">
        <button class="button is-danger is-outlined" @click="exit">Salir</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'menu-component',
  data () {
    return {
      activeRoute: window.location.pathname.replace(/\//, ''),
      routes: [
        { to: 'facturas', name: 'Facturas' },
        { to: 'productos', name: 'Productos' },
        { to: 'clientes', name: 'Clientes' }
      ]
    }
  },

  methods: {
    exit () {
      this.$router.push('/')
      this.$store.commit('unAuthenticated')
    }
  }
}
</script>
