<template>
  <section class="section padding-top-1" v-cloak>
    <div class="container" id="app">
      <!-- Login and register card -->
      <auth-component v-if="!hasToken()"></auth-component>

      <!-- Authenticated users -->
      <template v-else>
        <menu-component></menu-component>
        <router-view></router-view>
      </template>
    </div>
  </section>
</template>

<script>
import Auth from '@/components/Auth'
import Menu from '@/components/Menu'

export default {
  name: 'app-view',
  components: {
    'auth-component': Auth,
    'menu-component': Menu
  },
  methods: {
    hasToken () {
      const { token } = this.$store.state

      return token.length
    }
  },
  mounted () {
    if (this.hasToken()) {
      this.$router.push('products')
    }
  }
}
</script>
