$flexsides: ('start', 'center', 'end', 'between', 'around');

@each $side in $flexsides {
  .justify-content-#{$side} {
    justify-content: #{$side}
  }

  .align-items-#{$side} {
    align-items: #{$side}
  }
}
