$sizes: (1, 2, 3, 4, 5, 6, 7);
$sides: ('left', 'top', 'right', 'bottom');

@each $size in $sizes {
  .margin-#{$size} {
    margin: $size + em;
  }

  .padding-#{$size} {
    padding: $size + em;
  }

  // Agrega margenes/padding dependiendo de la horientación
  // Ej: margin-left: 1em; padding-bottom: 2em;
  @each $side in $sides {
    .margin-#{$side}-#{$size} {
      margin-#{$side}: $size + em;
    }

    .padding-#{$side}-#{$size} {
      padding-#{$side}: $size + em;
    }
  }
}

@each $side in $sides {
  .margin-#{$side}-auto {
    margin-#{$side}: auto;
  }
}
